@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
  }
  body {
    overscroll-behavior: none;
  }
  html {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f8f9fd;
}

::-webkit-scrollbar-thumb {
  background: #c4c6d2;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #747781;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
